<script setup lang="ts">
const issuer = useState('issuer', ()=>'');
</script>

<template>
  <div>
    <div>Hello {{issuer}}</div>
    <input v-model="issuer" />
    <div><a :href="`/api/login?issuer=${issuer}`">Login</a></div>
  </div>
</template>
