<script setup lang="ts">
  const { data: walls } = await useFetch('/api/walls')
</script>

<template>
<div>
  Select a wall:
  <ul>
    <li v-for="wall in walls">
      <NuxtLink :to="`/wall/${wall}`">
        <button>{{ wall }}</button>
      </NuxtLink>
    </li>
  </ul>
</div>
</template>
